@import "compass/css3";
.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;


    -webkit-box-flex: row wrap;
    flex-flow: row wrap;

    font-weight: bold;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }

.header{
    background:red;
}
.footer{
    background-color:green;
}
.main{
    text-align: left;
    background: blue;
}
.aside-1{
    background: gold;
}
.aside-2{
    background: hotpink;
}
@media all and (min-width:600px){
    .aside{ flex: 1 auto;}
}

@media all and (min-width:800px){
    .main {flex: 1 0px;}

}

body{
    padding: 2em;
}