/* 导航栏 */
.top-nav{
    width: 100%;
    /* width: 1000px; */
    height: 175px;
    background: #3385ff;
    position: fixed;
    z-index: 999;
    float: left;
}
.top-nav h1{
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    color: black;
    margin-top: 1px;
    margin-left: 60px;
    display: block;

}
.top-nav h1 a {
    display: block;
    text-decoration: none;
    color: black;
}
.top-nav h2{
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    color:#b9b9b9;
    margin-top: -70px;
    margin-left: 390px;

}
.top-nav h2 a {
    display: block;
    text-decoration: none;
    color:#b9b9b9;
}
.top-nav h3{
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    color:#b9b9b9;
    margin-top: -70px;
    margin-left: 700px;

}
.top-nav h3 a {
    display: block;
    text-decoration: none;
    color:#b9b9b9;
}

/* 搜索框 */
.search_kuang{
    width: 688px;
    height: 72px;
    border: 1px solid gray;
    border-radius: 13px;
    position: absolute;
    top: 30px;
    left: 175px;
}



/* 内容 */
.gray{
    width: 1070px;
    height: 526px;
    background-color:#ffffff;
    text-decoration: none;
    list-style: none;
}
.con-list-box{
    display: block;
    height: 23px;
    background:#e3e3e3;
    border-radius: 5px;
    box-shadow: 0 1px 1px 1px #e3e3e3;
    margin-top: -360px;
    margin-left:-39px;
    text-decoration: none;
    list-style: none;
    
}
.one{
    margin-bottom: 90px;
    text-decoration: none;
    color: #b9b9b9;
    outline-style: none;
}
.biaoti{
    color: black;
    text-align: left;
    text-indent: 15px;
}
.wenzhang{
    color: #3b3b3b;
    font-size: 24px;
    font-family: "微软雅黑";
    font-weight: bold;
    text-indent: 15px;
}
.pinglun{
    color: #a7a7a7;
}
a{
    text-decoration: none;
    list-style: none;
}
/* 知乎专场框 */
.jiange{
    color: gold;
    width: 800px;
    height: 10px;
}
.bigkuang{
    width: 400px;
    height: 500px;
    border: 3px solid grey;
    margin-top: 290px;

}
.p two{
    color: red;
    
}